.error404 {
	background: #44b3eb;
}

.not-found-page-wrapper { 
	color: #fff;
	min-height: 380px;
	height: 90vh;
	.site-main {
		margin-top: 25px;
	}
	.page-header {
		height: 34vh; 
	}
	.big-text {
		font-size: 7rem;
		text-align: center;
		margin: 0;
		text-transform: uppercase; 
		font-family: 'francois-one';
		letter-spacing: 2px;
		margin: 20% 0 0 0;
	}
	.page-title {
		text-align: center;
		text-transform: uppercase;
		font-size: 20px;
		margin: 0;
		
	}
	
	.page-content {
		display: flex;
		align-items: center;
		height: 33vh;
		img {
			
			width: 60%;
		}
		h4 {
			text-align: center;
			text-transform: uppercase;
			font-size: 1.3rem;
			margin-right: 7%;
    	}
}

	.looking-for { 
		text-align: center;
		margin: 2% 5%;
	}

	// .btn-container {
	// 	display: flex;
	// 	justify-content: space-between;
	// 	margin: 0 4%;

	// 	.btn { 
	// 		display: flex;
	// 		align-items: center;
	// 		justify-content: center;
	// 		padding: 15px 30px;
	// 		border-radius: 20px;
	// 		p {
	// 			margin: 0;
	// 			text-transform: uppercase;
	// 			font-size: 1rem;
	// 			font-weight: 600;
	// 		}
	// 	}
	// 	.return {
	// 		background: #892b88;
	// 	}

	// 	.contact {
	// 		background: #f5a623;
	// 	}

	// }
	
	
}