.blog{

	h1 {
		@include page-heading;
	}

	article{
		margin: 50px auto;
		max-width:$mobile-width;
		text-align:center;

		a{
			color:$gray;
			text-decoration:none;
		}
	}

	.pagination{
		text-align:center;

		a{
			color:$gray;
			text-decoration:none;
			margin:0 5px;
		}
	}

	//Desktop View
	@include desktop{
		article{
			max-width:$desktop-width;
		}
	}

}
