.blog{

	h1 {
		@include page-heading;
	}

	article{
		margin: 50px auto;
		text-align:center;
		a{
			color:$gray;
			text-decoration:none;
		}

		p {
			width: $mobile-width;
			margin: 0 auto;
		}
	}

	.pagination{
		text-align:center;

		a{
			color:$gray;
			text-decoration:none;
			margin:0 5px;
		}
	}

}
