
/* --------------------------------------------
 		Dreamrider: Custom Styles
 -------------------------------------------- */


.footer-container {
	width: 100%;
	color: $color_text-footer;
	background: $color_background-footer;
	letter-spacing: 1px;
	text-transform: uppercase;
}

//Style for back to top button in the footer
.back-to-top {
	cursor: pointer;
	text-align: center;
}

.footer-nav {
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	img {
		width: 40px;
		height: auto;
		margin-top: 40px;
	}
}

.footer-menu {
	margin: 0 auto;
	padding: 5px 0 20px;
}
.menu-item {
	padding: 5px;
	text-align: center;
	list-style-type: none;
	a, a:visited {
		color: $color_text-link-footer;
		text-decoration: none;
	}
	&:hover {
		font-weight: bold;
	}
}



//Hide "Powered by Wordpress"
.site-info {
	display: none;
}
