/* ==============================================
     Dreamrider: Custom Styles
 ============================================== */


/* ----------- Front Page  -----------*/

.home {
  @include desktop {
    .main-title {
      width: 50%;
      height: auto;
      margin: 0 auto;
      padding: 30px 0 0;
    }

    .individual-program {
      margin: 0 20px;
      display: inline-block;
      img {
        width: auto;
        max-height: 200px;
      }
    }

    .learning-benefits-container,
    .community-impact-container {
      display: flex;
      flex-wrap: wrap;
      div {
        width: 33.3%;
      }
    }
    .quotes-container {
      display: flex;
      align-items: flex-start;
    }
    .quotes {
      width: 50%;
      min-height: 340px;
      padding: 0 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    .quote-source {
      width: 80%;
    }
    .quote-separator {
      display: none;
    }
  } //end desktop media query
} //end home page

/* ----------- Community Partners' Logos (Template Part)  -----------*/
@include desktop {
  .partners-images {
    width: 75%;
    margin-top: 40px;
  }
  .partner-image img {
    width: 240px;
    height: auto;
  }
}

/* ----------- Footer  -----------*/
@include desktop {
  .footer-menu li{
    display: inline;
    padding: 0 20px;
  }
}
