/* ==============================================
     Dreamrider: Custom Styles
 ============================================== */


@include desktop {

/* ----------- Header Navigation  -----------*/

  //hide mobile navigation
  .main-navigation {
    display: none;
  }

  //display desktop navigation

  .site-header {
    display: flex;
    align-items: center;
  }

  .desktop-nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      text-decoration: none;
      text-transform: uppercase;
      &:visited {
        color: black;
      }
      &:hover {
        color: black;
      }
    }
  }

  #btn-a {
    padding: 10px 15px;
    background: $green;
    color: #fff;
  }


/* ----------- Front Page  -----------*/

  .home {
    .main-title {
      width: 50%;
      height: auto;
      margin: 0 auto;
      padding: 30px 0 0;
    }

    .learning-benefits-container,
    .community-impact-container {
      display: flex;
      flex-wrap: wrap;
      div {
        width: 33.3%;
      }
    }

    .quotes-container {
      display: flex;
      align-items: flex-start;
    }

    .quotes {
      width: 50%;
      min-height: 340px;
      padding: 0 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .quote-source {
      width: 80%;
    }

    .quote-separator {
      display: none;
    }
  } //end home page


/* ----------- Community Partners' Logos (Template Part)  -----------*/

  .partners-images {
    width: 75%;
    margin-top: 40px;
  }

  .partner-image img {
    width: 240px;
    height: auto;
  }


/* ----------- About  -----------*/

  .page-template-about {
    .site-content {
      margin-top: 5.5rem;
    }

    .about-title {
      padding: 10px;
      h1 {
        font-size: 3rem;
      }
    }

    .logo-container img{
      margin: 30px auto 0;
      height: auto;
      transform: translateX(0);
    }

    .about-intro {
      width: 60%;
    }

    .about-quote {
      padding: 15px 50px;
      font-size: 1.3rem;
    }

    .about-story h3,
    .about-today h3,
    .about-community h3 {
      line-height: 1;
      font-size: 2rem;
    }

    .about-today p {
      padding: 0 200px;
    }

    .about-pictures {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      div {
        width: 50vw;
        height: auto;
      }
    }

    .partners-images { //Section with community-partners template part
      width: 100%;
      margin: 0 auto 20px;
      display: inline-flex;
      align-items: baseline;
    }

    .partner-image img {
      width: 135px;
      height: auto;
    }

  } //end page-template-about


/* ----------- Footer  -----------*/

  .footer-menu li {
    display: inline;
    padding: 0 20px;
  }


} //end desktop media query
