/* ==============================================
     Dreamrider: Custom Styles for
		 900 breakpoint
 ============================================== */

@include min-desktop {

//Pushes content just right below the sticky header
.site-content {
	margin-top: 5.5rem;
}


/* ----------- Nav  -----------*/

 .site-header {
		.site-branding {
			.desktop-logo {
				display: inline;
				max-width: none;
				width: auto;
				max-height: 60px;
			}
			.mobile-logo {
				display: none;
			}
			.back-button {
				display: none;
			}
		}

		.desktop-nav{
			width: 80%;
			display: inline-block;
			a {
	      text-decoration: none;
	      text-transform: uppercase;
	      &:visited {
	        color: black;
	      }
				&:hover {
					color: black;
				}
			}
		}

		.menu-toggle {
			display: none;
		}
	} //end site-header


/* ----------- About  -----------*/

 	.page-template-about {
 		.text-logo {
 			display: none;
 		}

 		.logo-with-human {
 			width: 800px;
 			height: auto;
 			margin: 30px auto 0;
 			display: block;
 		}
 	}


} //end extended-desktop




/* ==============================================
     Dreamrider: Custom Styles for
		 1240 breakpoint
 ============================================== */

@include desktop {

/* ----------- Header Navigation  -----------*/

  //hide mobile navigation
  .main-navigation {
    display: none;
  }

  //display desktop navigation

  .site-header {
    display: flex;
    align-items: center;
  }

  .desktop-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


/* ----------- Front Page  -----------*/

  .home {
    .main-title {
      width: 50%;
      height: auto;
      margin: 0 auto;
      padding: 30px 0 0;
    }

    .learning-benefits-container,
    .community-impact-container {
      display: flex;
      flex-wrap: wrap;
      div {
        width: 33.3%;
      }
    }

    .individual-testimonial { //container for both speech bubble and source
      display: inline-block;
      &:nth-child(even) .testimonial-bubble { //Middle speech bubble
        &:before { //Background hack for the style of middle speech bubble
          transform: scaleX(1);
          top: 0;
        }
        p {
          margin-top: 0;
        }
      }
      &:nth-child(even) .testimonial-source { //Return middle testimonial to document order
        div:first-child {
          order: 0;
        }
        p {
          text-align: left;
        }
      }
    }

    .quotes-container {
      display: flex;
      align-items: flex-start;
    }

    .quotes {
      width: 50%;
      min-height: 340px;
      padding: 0 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .quote-source {
      width: 80%;
    }

    .quote-separator {
      display: none;
    }
  } //end home page


/* ----------- Community Partners' Logos (Template Part)  -----------*/

  .partners-images {
    width: 75%;
    margin-top: 40px;
  }

  .partner-image img {
    width: 240px;
    height: auto;
  }


/* ----------- About  -----------*/

  .page-template-about {
    .site-content {
      margin-top: 5.5rem;
    }

    .about-intro {
      width: 60%;
    }

    .about-quote {
      padding: 15px 50px;
      font-size: 1.3rem;
    }

    .about-story h3,
    .about-today h3,
    .about-community h3 {
      line-height: 1;
      font-size: 2rem;
    }

		.about-story {
			width: 60%;
		}
    .about-today p {
      padding: 0 200px;
    }

    .about-pictures {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin:25px auto;

      div:first-child,
      div:last-child {
        width: 58%;
        height: 450px;
        overflow:hidden;
        border-right:10px solid #fff;
        img {
          max-width: none;
          height: 100%;
          width: auto;
        }
      }
      div:last-child{
        width: 40%;
      }
    }

    .partners-images { //Section with community-partners template part
      width: 100%;
      margin: 0 auto 20px;
      display: inline-flex;
      align-items: baseline;
    }

    .partner-image img {
      width: 135px;
      height: auto;
    }

  } //end page-template-about


/* ----------- Footer  -----------*/

  .footer-menu li {
    display: inline;
    padding: 0 20px;
  }

} //end desktop media query
