// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



/* ==============================================
 		Dreamrider: Custom Styles
 ============================================== */


 /* ----------- Section Styles  -----------*/


 /* Sections with Blue Background */

@mixin blue-section {
	width: 100%;
	height: auto;
	margin-top: 50px;
	padding: 20px;
  color: $color_text-programs;
  text-align: center;
  background-color: $color_background-programs;
  box-shadow: 1px 0px 1px $gray;
 }

 /* Sections with Icons */

@mixin iconography{
	width: 100%;
	margin: 0 auto;
	text-align: center;
  h2 {
		font-size: 1.9rem;
    font-family: $secondary-text;
    text-transform: uppercase;
		letter-spacing: 2px;
   }
   p {
    font-size: 1.2rem;
    text-align: center;
		margin: 5px auto 50px;
   }
	 img {
		width: 20%;
		height: auto;
	}
 }


 /* ----------- Texts  -----------*/


 /* Headings */

@mixin black-on-white-heading {
	margin: 50px auto;
	color: $color_text-heading;
	font-size: 1.9rem;
	font-family: $secondary-text;
	text-transform: uppercase;
	letter-spacing: 2px;
 }

@mixin white-on-blue-heading {
	font-family: $font_heading-section;
	text-transform: uppercase;
	letter-spacing:  2px;
}

/* ----------- Buttons  -----------*/


/* Main Call-to-Action Button */

@mixin cta-button {
	margin: 50px auto;
	font-size: 20px;
	font-family: 'francois-one', sans-serif;
  text-align: center;
	letter-spacing: 2px;
	a {
		width: auto;
		height: auto;
		padding: 13px 50px;
		margin: 0 auto;
		color: $color_button-text-default;
		text-decoration: none;
		text-transform: uppercase;
		background-color: $color_button-background-default;
		border-radius: 2rem;
		&:hover {
			background-color: darken($color_button-background-default, 5%);
		}
		&:visited {
		color: $color_button-text-default;
		}
	}
}


/* Inverted Button */

@mixin inverted-cta-button {
	margin: 50px auto;
	font-size: 1.2rem;
	font-family: 'francois-one', sans-serif;
  text-align: center;
	letter-spacing: 2px;
	a, a:visited {
		width: autopx;
		height: auto;
		padding: 13px 50px;
		margin: 0 auto;
		color: $color_button-text-inverted;
		text-decoration: none;
		text-transform: uppercase;
		background-color: $color_button-background-inverted;
		border: 1px solid $color_button-border-inverted;
		border-radius: 2rem;
		&:hover {
			color: $color_button-text-inverted-hover;
			background-color: $color_button-background-inverted-hover;
		}
	}
}
