// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



/* --------------------------------------------
 		Dreamrider: Custom Styles
 -------------------------------------------- */
 /*
 I. Section Styles
 II. Text
 III. Buttons
 IV. Media Queries


 /* ----------- Section Styles  -----------*/


 /* Sections with Blue Background */
 //Note: For the style of the HEADING of the blue section, refer to
 //separate mixin below.

@mixin blue-section {
	width: 100%;
	height: auto;
	margin-top: 50px;
	padding: 40px 20px;
  color: $color_text-programs;
  text-align: center;
  background-color: $color_background-programs;
  box-shadow: 1px 0px 1px $gray;
 }

 /* Sections with Icons */
//Mainly used on the frontpage.php (mobile view)

@mixin iconography{
	width: 100%;
	margin: 0 auto;
	text-align: center;
  h2 {
		font-size: 1.9rem;
    font-family: $secondary-text;
    text-transform: uppercase;
		letter-spacing: 2px;
   }
   p {
    font-size: 1.2rem;
    text-align: center;
		margin: 5px auto 50px;
   }
	 img {
		width: 20%;
		height: auto;
	}
 }


 /* ----------- Texts  -----------*/


 /* Headings */

//For main headings of static pages (white text on blue background)
@mixin page-heading {
	width: 100%;
	padding: 10px;
  font-family: $font_page-title;
  color: $color_text-page-titles;
  background-color: $color_background-page-titles;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  h1 {
  	margin: 0;
    font-size: 1.3rem;
    font-weight: normal;
  }
}

//For black headings on the white sections of a page
//Mainly used front-page.php
@mixin black-on-white-heading {
	margin: 50px auto;
	color: $color_text-heading;
	font-size: 1.9rem;
	font-family: $secondary-text;
	text-transform: uppercase;
	letter-spacing: 2px;
 }

//For white headings on the blue sections of a page
//Mainly used front-page.php
@mixin white-on-blue-heading {
	font-family: $font_heading-section;
	text-transform: uppercase;
	letter-spacing:  2px;
}

//For black headings on the white sections of about.php
@mixin about-black-heading {
	color: $color_text-heading;
	font-family: $font_heading-section;
	text-transform: uppercase;
	letter-spacing: 2px;
}

//General style for sections using quotations
@mixin quote-source {
	font-size: 0.8rem;
  color: $color_text-partner-testimonial;
  letter-spacing: 2px;
  line-height: 2;
}


/* ----------- Buttons  -----------*/


/* Main Call-to-Action Button */
//Orange rounded button with white text

@mixin cta-button {
	margin: 50px auto;
	font-size: 20px;
	font-family: 'francois-one', sans-serif;
  text-align: center;
	letter-spacing: 2px;
	a {
		width: auto;
		height: auto;
		padding: 13px 50px;
		margin: 0 auto;
		color: $color_button-text-default;
		text-decoration: none;
		text-transform: uppercase;
		background-color: $color_button-background-default;
		border-radius: 2rem;
		&:hover {
			background-color: darken($color_button-background-default, 5%);
		}
		&:visited {
		color: $color_button-text-default;
		}
	}
}


/* Inverted Button */
//White rounded button with orange text

@mixin inverted-cta-button {
	margin: 50px auto 80px;
	font-size: 1.2rem;
	font-family: 'francois-one', sans-serif;
  text-align: center;
	letter-spacing: 2px;
	a, a:visited {
		width: autopx;
		height: auto;
		padding: 13px 50px;
		margin: 0 auto;
		color: $color_button-text-inverted;
		text-decoration: none;
		text-transform: uppercase;
		background-color: $color_button-background-inverted;
		border: 1px solid $color_button-border-inverted;
		border-radius: 2rem;
		&:hover {
			color: $color_button-text-inverted-hover;
			background-color: $color_button-background-inverted-hover;
		}
	}
}

/* ----------- Media Queries  -----------*/
@mixin mobile {
	@media (min-width: $mobile-width ) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: $desktop-width) {
		@content;
	}
}

@mixin in-between {
	@media (min-width: 500px){
		@content;
	}
}
