
/* ----------- Front Page  -----------*/


/* Hero */

.hero-banner {
  width: auto;
  margin-bottom: 20px;
  text-align:center;
  overflow: hidden;
  img {
    width:100%;
    height:auto;
  }
}

.main-title {
  text-align: center;
  h1 {
    width: 90%;
    margin: 0 auto;
    font-size: 2.3rem;
    font-family: 'montserrat-light';
    line-height: 1.3;
  }
  p {
    width: 70%;
    margin: 30px auto;
    font-size: 1.2rem;
  }
}

.cta-button {
  @include cta-button;
}


/* Programs */

.programs {
  @include blue-section;
  h2{
    @include white-on-blue-heading;
    margin-top: 0;
  }

  img {
    margin-bottom: 0;
  }

  .program-icon { //Resizes ice cube icon link
    width: 125px;
    height: auto;
    margin-top: 20px;
  }

  h4 {
    margin-top: 0px;
    text-transform: uppercase;
  }

  p {
    width: 240px;
    margin: 0 auto;
    font-size: 1.1rem;
  }
}


/* Learning Benefits */

.learning-benefits {
  @include iconography;
  h2 {
    @include black-on-white-heading;
  }
}


/* Testimonials */

.testimonials {
  @include blue-section;
  padding: 40px 20px 20px;
  h2 {
    @include white-on-blue-heading;
  }
}

.checkmark-icon {
  width: 50px;
  height: auto;
}

.individual-testimonial {
  margin-bottom: 20px;
}

.testimonial-bubble {
  width: 70%;
  margin: 0 auto;
  padding: 15px 20px;
  color: $color_text-testimonial-main;
  background-color: #fff; //temporary
  border-radius: 1rem;
  line-height: 1.2;
  text-align: left;
  p {
    margin: 0;
    text-overflow: ellipsis;
  }
}

.testimonial-source {
  width: 75%;
  margin: 15px auto 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  div:first-child {
    padding-right: 10px;
  }
  img {
    width: 50px;
    height: auto;
  }
  .third-icon { //Resizes third human icon so that dimensions are same as the other two
    width: 45px;
    height: auto;
  }
  p {
    @include quote-source;
    font-size: 0.7rem;
    color: $color_text-testimonials;
  }
}

//Counter-positions the middle testimonial
.individual-testimonial:nth-child(even) .testimonial-source {
  // justify-content: flex-end;
  div:first-child {
    order: 2;
  }
  p {
    text-align: right;
    margin-right: 10px;
  }
}

.free-trial-button {
  @include cta-button;
  a {
    padding: 13px 30px;
  }
}


/* Community Impact */

.community-impact {
  @include iconography;
  h2 {
    @include black-on-white-heading;
  }
}

.btn-inverted {
  @include inverted-cta-button;
}


/* Community Partners: Logos */

.community-partners-container {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  border-top: 1px solid $light-gray;
  h2 {
    @include black-on-white-heading;
    margin-bottom: 5px;
  }
}

.partners-images{
  width: 100%;
  padding: 0px 20px;
  display: inline-block;
}

.partner-image{
  width: 40%;
  height: auto;
  margin: 10px;
  display: inline-block;
}


/* Community Partners: Testimonials */

.partners-testimonials {
  width: 80%;
  margin: 50px auto;
  font-size: 1.3rem;
  letter-spacing: 1px;
  line-height: 1.3;
}

.quotation-mark {
  width: 70px;
  height: auto;
  margin-bottom: 20px;
}

.quote-source {
  font-size: 0.8rem;
  color: $color_text-partner-testimonial;
  letter-spacing: 2px;
  line-height: 2;
}

.quote-separator {
  width: 15%;
  height: 2px;
  margin: 50px auto;
  background-color: $color_separator-partner-testimonial;
}

.quotes:last-child {
  .quote-separator {
    display: none;
  }
}

.request-demo-button {
  @include cta-button;
  margin-bottom: 70px;
  h2 {
    font-family: $font_heading-section;
  }
}


/* Awards */

.awards {
  @include blue-section;
  padding: 25px;
  h2 {
    @include white-on-blue-heading;
  }
}



/* ----------- About Page  -----------*/

.about-title {
  @include page-heading;
}

.logo-container {
  max-width: none;
  width: 340px;
  height: auto;
}

.page-template-about .site-content {
  font-size: 1.2rem;
  text-align: center;
}

.about-intro {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.about-quote {
  @include blue-section;
  margin-top: 10px;
  padding: 15px 25px;
  font-family: 'montserrat-ultra-light', sans-serif;
  .quote-source {
    color: #fff;
  }
}

.about-story {
  @extend .about-intro;
  margin-bottom: 0px;
  h3 {
    color: $color_text-heading;
    font-family: $font_heading-section;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.about-today {
  @include blue-section;
  margin: 0;
  padding: 5px 25px;
  h3 {
    font-family: $font_heading-section;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  p {
    font-family: 'montserrat-ultra-light', sans-serif;
  }
}
