/* ============================================== */
/* ========= Dreamrider: Custom Styles ========== */
/* ============================================== */



/* ----------- Front Page  -----------*/
.main-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.programs {
  margin-top: 50px;
  padding: 20px;
  color: $color_text-programs;
  text-align: center;
  background-color: $color_background-programs;
  h1 {
    text-transform: uppercase;
  }
}

.cta-button {
  @include cta-button;
}
