 .programs-page-wrapper {
 	//Mobile
 	.site-main {
 		text-align: center;
	}
	.entry-header h2{
		@include page-heading;
		margin:0 auto;
	}
	.image-container img{
		margin:0 auto 30px;
	}

	.bx-wrapper{
		
		.bx-viewport{
			border:none;
			box-shadow:none;
		}

		.bx-controls-direction a{
			height:100px;
			width:40px;
			background-size:cover;
			z-index:0;

			&:hover{
				background-position:0;
			}
		}
	

		.bx-prev{
			background:url('../../images/slider-prev.png') center;
		}

		.bx-next{
			background:url('../../images/slider-next.png') center;
		}
	}
	
	//Desktop View
	@media (min-width: 340px) {
		h1 {
			font-family: 'montserrat-light';
			font-size: 1.4em;
			color: #fff;
			text-transform: uppercase;
			margin: 0;
		}
		h2 {
			font-family: 'francois-one';
			letter-spacing: 5px;
		}
		p {
			margin: 0px 25%;
		}
		.programs-container {
			p {
				margin: 0px 25%;
			}
		}
		.entry-title {
			margin-top: 0;
		}
	}

}

