 .programs-page-wrapper {
 	//Mobile
 	.site-main {
 		text-align: center;
	}
	h2 {
		font-family: 'francois-one';
		font-size: 1.3em;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	.entry-header {
		@include page-heading;
	}
	.image-container img{
		margin:0 auto;
	}

	.bx-wrapper .bx-controls-direction a{
		height:100px;
		width:40px;
		background-size:cover;
		z-index:0;

		&:hover{
			background-position:0;
		}
	}	

	.bx-wrapper .bx-prev{
		background:url('../../images/slider-prev.png') center;
	}

	.bx-wrapper .bx-next{
		background:url('../../images/slider-next.png') center;
	}

	
	//Desktop View
	@media (min-width: 340px) {
		h1 {
			font-family: 'montserrat-light';
			font-size: 66px;
			color: #fff;
			text-transform: uppercase;
			margin: 0;
		}
		h2 {
			font-family: 'francois-one';
			font-size: 1.5em;
			letter-spacing: 5px;
		}
		p {
			margin: 0px 25%;
		}
		.programs-container {
			p {
				margin: 0px 25%;
			}
		}
		.entry-title {
			margin-top: 0;
		}
	}

}

