// Structure

$base__space-unit: 1.5em;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;



/* -----------------------------------------------
     Dreamrider: Custom Styles
 ---------------------------------------------- */


/* ----------- Variables: Descriptive  -----------*/

//Fonts
$default-text: 'lato-light', sans-serif;
$secondary-text: 'francois-one', sans-serif;

//Colors
$white: #fff;
$black: #000;
$violet: #8c2c8b;
$brand_color: #8fd18f;
$blue: #4ab4e9;
$light-gray: #afafaf;
$gray: #4a4a4a;

//Media Queries
$mobile-width: 340px;
$min-desktop-width: 940px;
$desktop-width: 1240px;



/* ----------- Variables: Functional  -----------*/


//Plain Text Colors
$color-text-default: $gray;
$color_text-alternative1: $white;
$color_text-alternative2: $black;
$color_text-alternative3: $light-gray;

//Text Links
$color_text-link-footer: $white;

//Background Colors
$color_background-default: $blue;
$color_background-alternative1: $violet;

// Borders / Separators */
$color_separator: $light-gray;

//Main Button (Green background with white text)
$color_button-text-default: $white;
$color_button-background-default: $brand_color;

//Inverted Button (White background with green text)
$color_button-text-inverted: $brand_color;
$color_button-text-inverted-hover: $white;
$color_button-background-inverted: $white;
$color_button-background-inverted-hover: $brand_color;
$color_button-border-inverted: $brand_color;
