// Structure

$base__space-unit: 1.5em;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;



/* ==============================================
     Dreamrider: Custom Styles
 ============================================== */


/* ----------- Variables: Descriptive  -----------*/

/* Fonts */
$default-text: 'lato-light', sans-serif;
$secondary-text: 'francois-one', sans-serif;

/* Colors */
$white: #fff;
$black: #000;
$violet: #8c2c8b;
$orange: #f3a536;
$blue: #4ab4e9;
$light-gray: #afafaf;
$gray: #4a4a4a;


/* ----------- Variables: Functional  -----------*/

/* Fonts: Heading */
$font_heading-section: $secondary-text; //Headings of sections
$font_page-title: $secondary-text; //Main heading of pages



/* Color: Text Links */
$color_text-testimonials: $white;
$color_text-link-footer: $white; //Nav on Footer


/* Color: Plain Text */
$color-text-default: $gray; //Default Text
$color_text-programs: $white; //Alternative Text Color
$color_text-heading: $black; //Alternative Heading of sections
$color_text-testimonial-main: $gray;
$color_text-partner-testimonial: $light-gray;

$color_text-page-titles: $white; //Main Page Headings
$color_text-footer: $white; //"Back to Top" text on Footer

/* Color: Buttons */

//Main orange button
$color_button-text-default: $white;
$color_button-background-default: $orange;

//Inverted main button
$color_button-text-inverted: $orange;
$color_button-text-inverted-hover: $white;
$color_button-background-inverted: $white;
$color_button-background-inverted-hover: $orange;
$color_button-border-inverted: $orange;

/* Color: Backgrounds */
$color_background-programs: $blue; //Programs section of front-page.php
$color_background-page-titles: $blue; //Page headings
$color_background-footer: $violet; //Footer

/* Color: Borders / Separators */
$color_separator-partner-testimonial: $light-gray;


/* ----------- Media Queries  -----------*/
$mobile-width: 340px;
$desktop-width: 1240px;
