// Structure

$base__space-unit: 1.5em;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;



/* ==============================================
     Dreamrider: Custom Styles
 ============================================== */


/* ----------- Variables: Descriptive  -----------*/

/* Fonts */
$default-text: 'lato-light', sans-serif;
$secondary-text: 'francois-one', sans-serif;

/* Colors */
$white: #fff;
$black: #000;
$violet: #8c2c8b;
$orange: #f3a536;
$blue: #4ab4e9;
$light-gray: #afafaf;
$gray: #636363;


/* ----------- Variables: Functional  -----------*/

/* Plain Text */
$color-text-default: $gray;
$color_text-programs: $white;
$color_text-heading: $black;
$color_text-partner-testimonial: $light-gray;

/* Buttons */
$color_button-text-default: $white;
$color_button-background-default: $orange;
$color_button-text-inverted: $orange;
$color_button-text-inverted-hover: $white;
$color_button-background-inverted: $white;
$color_button-background-inverted-hover: $orange;
$color_button-border-inverted: $orange;

/* Backgrounds */
$color_background-programs: $blue;

/* Borders / Separators */
$color_separator-partner-testimonial: $light-gray;
